body {
  background-color: #282c34;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fde8e9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  background-color: #282c34;
}

h1, h2 {
    color: #ECA72C;
}

table {
  width:400px;
  text-align: center;
  margin: 50px auto 20px;
}
td {
  height: 100px;
}

td span {
  height: 100%;
  width: 100%;
  display: block;
  text-decoration: none;
  cursor: pointer;
}
div.player1Winner table td span, div.player2Winner table td span {
  cursor: default;
}

.not-selected {
  background-color: slategray
  /* background-color: firebrick; */
}

table.player1 .not-selected:hover {
  background-color: firebrick;
}
table.player2 .not-selected:hover {
  background-color: turquoise;
}
table span.player1 {
  background-color: firebrick;
  cursor: default;
}
table span.player2 {
  background-color: turquoise;
  cursor: default;
}
.player1Winner {
  background-color: orangered;
}
.player2Winner {
  background-color: teal;
}
#app-wrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resetButton {
  margin: 0 auto;
}